<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.werq.patient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PatientApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity android:name=".views.ui.EncounterActivity"></activity>
        <activity
            android:name=".views.ui.ViewFileActivity"
            android:label="@string/title_activity_view_file"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.MedicalInfoActivity"
            android:label="@string/title_activity_medical_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ViewVisitNoteActivity"
            android:label="@string/title_activity_view_visit_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.FilterDoctorList"
            android:label="@string/title_activity_filter_doctor_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ChatInfoActivity"
            android:label="@string/title_activity_chat_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ChatTopicsActivity"
            android:label="@string/title_activity_chat_topics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.DoctorDetails"
            android:label="@string/title_activity_chat_topics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ChatRoomActivity"
            android:label="@string/title_activity_chat_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.NewChatActivity"
            android:label="@string/title_activity_new_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ProfileDoctorActivity"
            android:label="@string/title_activity_profile_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.SearchByNameActivity"
            android:label="@string/title_activity_search_by_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.AddDoctorTeamActivity"
            android:label="@string/title_activity_add_doctor_team"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api_key" />

        <activity
            android:name=".views.ui.ScheduleDetailsActivity"
            android:label="@string/title_activity_schedule_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.FingerPrintActivity"
            android:label="@string/title_activity_finger_print"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ui.FunctionalActivity" />
        <activity android:name=".views.ui.ImmunizationResultsActivity" />
        <activity android:name=".views.ui.SummaryCareActivity" />
        <activity android:name=".views.ui.ProfileActivity" />
        <activity
            android:name=".views.ui.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.VerifyIdentity"
            android:label="@string/title_activity_verify_identity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.BottomTabActivity"
            android:label="@string/title_activity_bottom_tab" />
        <activity
            android:name=".views.ui.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>